@tailwind base;
@tailwind components;

aside a {
    @apply text-3xl my-1 p-3 font-semibold rounded-full transition-colors duration-300 ease-out;
}

aside a:hover {
    @apply bg-blue-100 text-blue-500;
}

aside a span {
    @apply ml-4;
}
aside button span {
    text-align: left;
}

.tweet-btn {
    @apply bg-blue-400 py-2 px-6 rounded-full text-white font-semibold;
}

.options {
    @apply rounded-full py-0.5 px-1 cursor-pointer;
}

.menu-list {
    @apply py-2 px-4 cursor-pointer hover:bg-gray-100;
}
@tailwind utilities;

@layer utilities {
    @variants hover {
        .filter-grayscale {
            filter: grayscale(0.25);
        }
    }
}

button:focus {
    outline: none;
    border: none;
}

aside {
    flex-shrink: 2;
}
